.purple
{
    position:sticky;
    top:0;
    z-index:10;
    background-color: #5a005a;
}
body
{
    background-color: #5a005a;
}
.brand-logo
{
    height:40px;
    padding-left: 30px;
}
#nav-mobile li
{
    padding:0 10px;
}
#nav-mobile li a
{
    float:left;
    text-align:left;
}
.purple ul li a:hover
{
    color:white;
}
.nav
{
    font-weight:600;
    font-size:16px;
}
#slider
{
    width:100%;
}
.carousel-caption
{
    top:50%;
    transform:translateY(-50%);
    bottom:initial;
}
.carousel-caption h5
{
    color:white;
}
#about
{
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #5a005a;
    color: white;
}
.jumbotron
{
    margin-top:224px;
    background-color:#5a005a;
    color:white;
}
.progress-bar
{
    border-radius:16px;
}
.progress
{
    border-radius:16px;
    margin-bottom: 20px;
}